<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">

  <!-- Sidebar  -->

  <mat-sidenav #sidenav mode="side" id="sidebar" >
    <div class="sidebar-header">
        <img id="logo" src="assets/images/logo.jpg"/>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a routerLink="home">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a routerLink="developers">
                <i class="fa fa-user"></i>
                Developers
            </a>
        </li>
        <li>
            <a routerLink="rest">
                <i class="fa fa-bed"></i>
                Rest
            </a>
        </li>
        <li>
            <a routerLink="soap">
                <i class="fa fa-exchange"></i>
                Soap
            </a>
        </li>
    </ul>
 
  </mat-sidenav>


  <!-- Page Content  -->
  <mat-sidenav-content>

    <div id="topbar">

      <p id="menu-button"><button mat-button (click)="sidenav.toggle()"><i class="fa fa-bars"></i></button></p>

      <p id="logged-in">Logged in as: Mr. Blob
        <br/>
        Developer
        <br/>
        {{today | date:'fullDate'}}
      </p>
     
    </div> 

    <hr/>

    <router-outlet></router-outlet>

  </mat-sidenav-content>



</mat-sidenav-container>



