<div >
	<div id="coverbox" class="row">
		<div id="box" class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let developer of developers; let i = index" >
				<i class="fa fa-times" (click)="remove(developer, i)"></i>
				{{developer.firstName}}
					<br>
					{{developer.desc}}
				
		</div>

	</div>
		
    <div class="container1">

	    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Desc</label>
                <textarea cols="40" rows="5" class="form-control" name="desc" [(ngModel)]="model.desc" #desc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && desc.invalid }" required></textarea>
                <div *ngIf="f.submitted && desc.invalid" class="invalid-feedback">
                    <div *ngIf="desc.errors.required">Desc is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary">Add details</button>
	            <input id="reset" type="reset" class="btn btn-secondary"/>
            </div>
        </form>
    </div>

</div>